#ifndef ENV_H
#define ENV_H

// Configuración WiFi
#define WIFI_SSID       "TU_SSID_AQUI"
#define WIFI_PASSWORD   "TU_PASSWORD_AQUI"

// URL del servidor que recibirá las etiquetas NFC
#define API_URL         "http://TU_SERVIDOR/api/nfc"

#endif // ENV_H